.client-details {
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    border-radius: 5px;
}

.client-details h2 {
    margin-top: 0;
    color: #333;
    font-weight: bold;
}

.client-details p {
    margin: 10px 0;
    color: #666;
}

#addressDropdown {
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.calendar-wrapper {
    margin-top: 20px;
}

.hasAppointments {
    background-color: #ffc107; 
}